<br />
<br />
<br />
<div>
  <div class="form-group">
    <label>hote</label>
    <input [(ngModel)]="logement.hote!.id" readonly class="form-control" />

    <div class="form-group">
      <label>id:</label>
      <input
        [(ngModel)]="logement.id"
        readonly
        class="form-control"
        placeholder="genereation auto"
      />
      <div class="form-group">
        <label>date</label>
        <input type="date" [(ngModel)]="logement.date" class="form-control" />
      </div>
      <div class="form-group">
        <label>prix</label>
        <input type="number" [(ngModel)]="logement.prix" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label>cp</label>
      <input
        type="text"
        [(ngModel)]="logement.adresse!.cp"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>numero</label>
      <input
        type="text"
        [(ngModel)]="logement.adresse!.numero"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>voie</label>
      <input
        type="text"
        [(ngModel)]="logement.adresse!.voie"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>ville</label>
      <input
        type="text"
        [(ngModel)]="logement.adresse!.ville"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>nombre de places</label>
      <input
        type="number"
        [(ngModel)]="logement.nbPlaces"
        class="form-control"
      />
    </div>

    <div>
      <button (click)="save()" class="btn btn-outline-success">
        enregistrer
      </button>
      <a routerLink="/logement" class="btn btn-outline-warning">annuler</a>
    </div>
  </div>
</div>
