<head>
  <meta charset="UTF-8" />
  <title>Inscription</title>
</head>

<body id="bodyInscription">
  <div class="container" id="inscriptionMenu">
    <h1>Inscription</h1>
    <br />
    <div class="formInscription form-group">
      <button
        (click)="client()"
        type="button"
        class="btn btn-primary btnInscription"
      >
        Client
      </button>
      <button
        (click)="hote()"
        type="button"
        class="btn btn-primary btnInscription"
      >
        Hôte
      </button>
      <button
        (click)="organisateur()"
        type="button"
        class="btn btn-primary btnInscription"
      >
        Organisateur
      </button>
      <div>
        <a routerLink="/home">
          <button class="btn btn-warning btnInscription">Retour</button></a
        >
      </div>
    </div>
  </div>
  <br />
</body>
