<body>
  <div class="container">
    <h1>Liste des réservations</h1>
    <hr />

    <table class="table">
      <tr>
        <td>Statut</td>
        <td>Client</td>
        <td>Participant</td>
        <td>Prix (€)</td>
        <td>Actions</td>
      </tr>
      <tr *ngFor="let r of reservations">
        <td>{{ r.statut }}</td>
        <td>{{ r.client?.prenom }} {{ r.client?.nom }}</td>
        <td>{{ r.participant?.prenom }}</td>
        <td>{{ prix }}</td>
        <td>
          <button (click)="delete(r.id!)" class="btn btn-outline-danger">
            Supprimer
          </button>
        </td>
      </tr>
    </table>
    <div id="buttons">
      <button class="btn btn-warning" routerLink="/itineraire/Paris/Toulouse">
        Ajouter une nouvelle étape
      </button>
      <button (click)="redirection()" class="btn btn-success">
        Procéder au paiement des réservations
      </button>
    </div>
  </div>
</body>
