<body>
  <main>
    <h6>Ville-étape à ajouter :</h6>
    <div class="container addVille">
      <label></label>
      <input type="text" [(ngModel)]="ville" class="form-control" />
      <button (click)="list()" class="btn btn-outline-info">Rechercher</button>
    </div>

    <div id="contenu">
      <div id="recherche">
        <label>Ville-étape à ajouter : </label>
        <input type="text" [(ngModel)]="ville" class="form-control" />
        <button (click)="list()" class="btn btn-outline-info">
          Rechercher
        </button>
      </div>
      <div id="tableaux">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div>
            <h2>Lise des logements à {{ ville }}</h2>

            <table class="table">
              <tr>
                <td></td>
                <td>id</td>
                <td>date</td>
                <td>prix</td>
                <td>cp</td>
                <td>numero</td>
                <td>voie</td>
                <td>ville</td>
                <td>nb de places</td>
              </tr>

              <tr
                *ngFor="let l of logementsArray.controls; let i = index"
                formArrayName="logementsArray"
              >
                <td>
                  <input [formControlName]="i" type="checkbox" />
                </td>
                <td>{{ logements[i].id }}</td>
                <td>{{ logements[i].date | date: "dd/MM/yyyy" }}</td>
                <td>{{ logements[i].prix }}</td>
                <td>{{ logements[i].adresse?.cp }}</td>
                <td>{{ logements[i].adresse?.numero }}</td>
                <td>{{ logements[i].adresse?.voie }}</td>
                <td>{{ logements[i].adresse?.ville }}</td>
                <td>{{ logements[i].nbPlaces }}</td>
              </tr>
            </table>
          </div>
          <div>
            <h2>Lise des activites à {{ ville }}</h2>
            <table class="table">
              <tr>
                <td></td>
                <td>id</td>
                <td>date</td>
                <td>heure</td>
                <td>prix</td>
                <td>categorie</td>
                <td>cp</td>
                <td>numero</td>
                <td>voie</td>
                <td>ville</td>
                <td>nb de places</td>
                <td>intitule</td>
              </tr>

              <tr
                *ngFor="let a of activitesArray.controls; let i = index"
                formArrayName="activitesArray"
              >
                <td>
                  <input [formControlName]="i" type="checkbox" />
                </td>
                <td>{{ activites[i].id }}</td>
                <td>{{ activites[i].date | date: "dd/MM/yyyy" }}</td>
                <td>{{ activites[i].heure }}</td>
                <td>{{ activites[i].prix }}</td>
                <td>{{ activites[i].categorie }}</td>
                <td>{{ activites[i].adresse?.cp }}</td>
                <td>{{ activites[i].adresse?.numero }}</td>
                <td>{{ activites[i].adresse?.voie }}</td>
                <td>{{ activites[i].adresse?.ville }}</td>
                <td>{{ activites[i].nbPlaces }}</td>
                <td>{{ activites[i].intitule }}</td>
              </tr>
            </table>
            <button type="submit">Reserver</button>
          </div>
        </form>
        <button (click)="redirect()">Suivant</button>
      </div>
      <div id="frugalmap"></div>
    </div>
  </main>
</body>
