<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"
/>

<main>
  <div id="contenu">
    <div class="form-row saisies">
      <div class="form-group col-lg-3 champ1">
        <h5>Ville-étape à ajouter :</h5>

        <div class="container addVille">
          <div>
            <img class="imgDescription" src="assets/images/panneau.png" />
          </div>
          <input
            type="text"
            [(ngModel)]="ville"
            class="form-control saisieville"
          />
        </div>
        <div>
          <input
            type="radio"
            id="activites"
            name="drone"
            value="activites"
            checked
            [(ngModel)]="myRadio"
          />
          <label for="activites">Activités</label>
        </div>
        <div>
          <input
            type="radio"
            id="logements"
            name="drone"
            value="logements"
            [(ngModel)]="myRadio"
          />
          <label for="logements">Logements</label>
        </div>
        <button (click)="list()" class="btn btn-primary">Rechercher</button>
      </div>

      <div class="form-group col-lg-9 champ2">
        <div class="container">
          <div id="tableaux">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div *ngIf="myRadio == 'logements'">
                <h2>Liste des logements à {{ ville }}</h2>
                <table class="table">
                  <tr>
                    <td colspan="4"></td>
                    <td colspan="4" align="center" class="adresse">Adresse</td>
                  </tr>
                  <tr>
                    <td>Sélection</td>
                    <td>Date</td>
                    <td>Prix (€)</td>
                    <td>Nombre de couchages</td>
                    <td class="adresse">Numéro</td>
                    <td class="adresse">Voie</td>
                    <td class="adresse">Code Postal</td>
                    <td class="adresse">Ville</td>
                  </tr>
                  <tr
                    *ngFor="let l of logementsArray.controls; let i = index"
                    formArrayName="logementsArray"
                  >
                    <td>
                      <input [formControlName]="i" type="checkbox" />
                    </td>
                    <td>{{ logements[i].date | date: "dd/MM/yyyy" }}</td>
                    <td>{{ logements[i].prix }}</td>
                    <td>{{ logements[i].nbPlaces }}</td>
                    <td class="adresse">{{ logements[i].adresse?.numero }}</td>
                    <td class="adresse">{{ logements[i].adresse?.voie }}</td>
                    <td class="adresse">{{ logements[i].adresse?.cp }}</td>
                    <td class="adresse">{{ logements[i].adresse?.ville }}</td>
                  </tr>
                </table>
              </div>
              <div *ngIf="myRadio == 'activites'">
                <h2>Liste des activités à {{ ville }}</h2>
                <table class="table">
                  <tr>
                    <td colspan="7"></td>
                    <td colspan="4" align="center" class="adresse">Adresse</td>
                  </tr>
                  <tr>
                    <td>Sélection</td>
                    <td>Intitulé</td>
                    <td>Catégorie</td>
                    <td>Date</td>
                    <td>Heure</td>
                    <td>Prix (€)</td>
                    <td>Nombre de places</td>
                    <td class="adresse">Numéro</td>
                    <td class="adresse">Voie</td>
                    <td class="adresse">Code Postal</td>
                    <td class="adresse">Ville</td>
                  </tr>
                  <tr
                    *ngFor="let a of activitesArray.controls; let i = index"
                    formArrayName="activitesArray"
                  >
                    <td>
                      <input [formControlName]="i" type="checkbox" />
                    </td>
                    <td>{{ activites[i].intitule }}</td>
                    <td>{{ activites[i].categorie }}</td>
                    <td>{{ activites[i].date | date: "dd/MM/yyyy" }}</td>
                    <td>{{ activites[i].heure }}</td>
                    <td>{{ activites[i].prix }}</td>
                    <td>{{ activites[i].nbPlaces }}</td>
                    <td class="adresse">{{ activites[i].adresse?.numero }}</td>
                    <td class="adresse">{{ activites[i].adresse?.voie }}</td>
                    <td class="adresse">{{ activites[i].adresse?.cp }}</td>
                    <td class="adresse">{{ activites[i].adresse?.ville }}</td>
                  </tr>
                </table>
              </div>
              <div id="procedure">
                <div>
                  <span *ngIf="!isAutenticated()"
                    ><i
                      >Vous devez être connecté pour pouvoir accéder à la
                      réservation.</i
                    ></span
                  >
                  <span *ngIf="isAutenticated()"
                    ><i
                      >Merci de sélectionner avant de passer à la
                      réservation.</i
                    ></span
                  >
                </div>

                <div>
                  <button
                    *ngIf="isAutenticated()"
                    type="submit"
                    class="btn btn-success"
                  >
                    Sélectionner
                  </button>
                  <button
                    *ngIf="isAutenticated()"
                    (click)="redirect()"
                    class="btn btn-primary"
                  >
                    Passer à la réservation
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="containerMap">
      <div *ngIf="myRadio == 'activites'">
        <div class="liste" *ngFor="let a of activites">
          <div class="card shadow-sm">
            <img
              src="assets/images/{{ a.id }}.jpg"
              class="bd-placeholder-img card-img-top"
            /><title></title>{{ a.intitule }}

            <div class="card-body">
              <p class="card-text"></p>
              <p>{{ a.categorie }}</p>
              <p>{{ a.prix }} €</p>
              <p>{{ a.date }}</p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="myRadio == 'logements'">
        <div class="liste" *ngFor="let l of logements">
          <div class="card shadow-sm">
            <img
              src="assets/images/{{ l.prix }}.jpg"
              class="bd-placeholder-img card-img-top"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            /><title></title>{{ l.adresse!.ville }}

            <div class="card-body">
              <p class="card-text"></p>
              <p>{{ l.nbPlaces }} personnes</p>
              <p>{{ l.prix }} €</p>
              <p>{{ l.date }}</p>
            </div>
          </div>
        </div>
      </div>
      <div id="frugalmap"></div>
    </div>
  </div>
</main>
