#contenu {
  display: flex;
  flex-direction: column;
}

.saisies {
  display: flex;
  align-items: center;
}

.saisieville {
  width: auto;
}

#recherche {
  margin-left: 3.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#recherche input {
  width: auto;
}

#container {
  border: 1px solid black;
  left: 0;
  margin-left: 2%;
  background-color: aquamarine;
}

#container h1 {
  text-align: center;
}

.etape {
  padding-left: 5%;
  margin-bottom: 5%;
  background-color: aliceblue;
}

#frugalmap {
  height: 100%;
  width: auto;
  justify-content: center;
  display: flex;
}

.map {
  height: 100vh;
}

.containerMap {
  display: flex;

  width: 100%;
}

.map {
  position: sticky!;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
}

.leaflet-popup {
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: blue;
}

.leaflet-popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
}

.leaflet-popup-content-wrapper {
  background: transparent;
  color: inherit;
  box-shadow: none;
  text-align: inherit;
}

.leaflet-popup-content {
  text-align: inherit;
  color: inherit;
  margin: 0;
}

.leaflet-popup-tip-container {
  display: none;
}

.is-active {
  background-color: #5069ff;
  color: #fff;
  z-index: 300;
}

.is-active::after {
  border-top-color: #5069ff;
}

#frugalmap {
  height: 800px;
  width: 100%;
}

.addVille {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
}

.imgDescription {
  width: 40px;
  height: 40px;
}

.adresse {
  background-color: #ebe4d9;
}
