<head>
  <meta charset="utf-8" />
  <title>Gestion du compte</title>

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"
  ></script>
</head>

<body>
  <div class="divGestion">
    <main class="mainGestion">
      <div>
        <h2 class="titre" align="center">Informations du compte</h2>
      </div>
      <div id="formGestionCompte">
        <div class="form-row" id="infos">
          <h5 class="form-group col-lg-12">Informations personnelles</h5>
          <div class="form-group col-lg-4">
            <label>Prénom :</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="compte.prenom"
            />
          </div>
          <div class="form-group col-lg-4">
            <label>Nom :</label>
            <input class="form-control" type="text" [(ngModel)]="compte.nom" />
          </div>
          <div class="form-group col-lg-4">
            <label>Date de naissance :</label>
            <input
              class="form-control"
              type="date"
              [(ngModel)]="compte.dateNaissance"
            />
          </div>
          <div class="form-group col-lg-6">
            <label>E-mail :</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="compte.mail"
              disabled="true"
            />
          </div>
          <div class="form-group col-lg-6">
            <label>Type de compte :</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="compte.type"
              disabled="true"
            />
          </div>
          <hr />
        </div>
        <div *ngIf="compte.type == 'client'" id="infos" class="form-row">
          <div class="form-group col-lg-6">
            <hr />
            <h5 class="form-group col-lg-12">Adresse</h5>
            <div class="form-group col-lg-12">
              <label>Numéro :</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="compte.adresse!.numero"
              />
            </div>
            <div class="form-group col-lg-12">
              <label>Voie :</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="compte.adresse!.voie"
              />
            </div>
            <div class="form-group col-lg-12">
              <label>Code postal :</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="compte.adresse!.cp"
              />
            </div>
            <div class="form-group col-lg-12">
              <label>Ville :</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="compte.adresse!.ville"
              />
            </div>
          </div>
          <div class="form-group col-lg-6">
            <hr />
            <h5 class="form-group col-lg-12">Paiement</h5>
            <div class="form-group col-lg-12">
              <label>Mode de paiement :</label>
              <select class="typeDePaiement form-select" name="typeDePaiement">
                <option value="1">Carte</option>
                <option value="2">Paypal</option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="btnEnregistrer">
          <button class="btn btn-primary" (click)="edit()">
            Enregistrer les modifications
          </button>
        </div>
      </div>
      <br />
      <div>
        <h2 class="titre" align="center">Modification du mot de passe</h2>
      </div>
      <div id="formGestionCompte">
        <form
          (ngSubmit)="editPassword()"
          [formGroup]="form"
          class="formGestionCompte form-row"
        >
          <div class="form-group col-lg-6">
            <label>Nouveau mot de passe :</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <div class="form-group col-lg-6">
            <label>Confirmation mot de passe :</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirm"
            />
          </div>

          <div
            *ngIf="form.get('password')?.dirty && form.get('password')?.invalid"
            class="alert alert-success form-group col-lg-12"
          >
            Le mot de passe doit faire en 5 et 25 caractères comprennant au
            moins une majuscule, une minuscule, un chiffre et un caractere
            spécial (*_!@-)
          </div>

          <div
            *ngIf="form.invalid && form.get('confirm')?.dirty"
            class="alert alert-danger form-group col-lg-12"
          >
            Les deux saisies de mot de passe sont différentes
          </div>
        </form>
        <div class="btnEnregistrer">
          <br />
          <button
            class="btn btn-primary"
            (click)="editPassword()"
            [disabled]="form.invalid"
          >
            Modifier le mot de passe
          </button>
        </div>
      </div>
    </main>
  </div>
  <br />
</body>
