<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 id="depart">{{ depart }}</h1>
    <h1 id="arrivee">{{ arrivee }}</h1>
    <main>
      <div id="container">
        <h1>Votre itinéraire</h1>

        <ul>
          <li>
            <span class="depart etape">
              {{ depart }}
            </span>
          </li>
          <li>
            <span class="arrivee etape">
              {{ arrivee }}
            </span>
          </li>
        </ul>
      </div>
      <app-activites-logements-list></app-activites-logements-list>
    </main>
  </body>
</html>
