<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Itinéraire</title>
  </head>
  <body>
    <main>
      <div id="destination">
        <h3>Votre itinéraire</h3>
        <div id="contenu">
          <div class="startEnd">
            <img class="imgStartEnd" src="assets/images/start.png" />
            <input
              type="text"
              placeholder="Ville de départ"
              class="form-control"
              [(ngModel)]="depart"
            />
          </div>
          <div>
            <img class="imgDots" src="assets/images/dots.png" />
          </div>
          <div class="startEnd">
            <input
              type="text"
              placeholder="Ville d'arrivée"
              class="form-control"
              [(ngModel)]="arrivee"
            />
            <img class="imgStartEnd" src="assets/images/finish.png" />
          </div>
        </div>
      </div>
      <br /><br />
      <hr />
      <app-activites-logements-list
        depart="{{ depart }}"
        arrivee="{{ arrivee }}"
      ></app-activites-logements-list>
    </main>
  </body>
</html>
