#container {
  border: 1px solid black;
  width: 30%;
  left: 0;
  margin-left: 2%;
  background-color: aquamarine;
}

#container h1 {
  text-align: center;
}

.etape {
  padding-left: 5%;
  margin-bottom: 5%;
  background-color: aliceblue;
}
